{% extends "bookcommerce/base.html" %}
{% load static %} {% load widget_tweaks %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col" style="--bs-breadcrumb-divider: '>'">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Beranda</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'profile' %}">Akun Saya</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% if form.instance.pk %}Ubah Alamat{% else %}Tambah Alamat{% endif %}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img
                        src="{{ user.profile_picture.url }}"
                        alt="Profile Picture"
                        class="rounded-circle"
                        style="max-width: 60px;"
                    />
                </div>
                <div class="col">
                    <h4 class="m-0">{{ user.username }}</h4>
                </div>                    
            </div>
            <div class="row align-items-center my-4">
                <a href="{% url 'profile' %}" class="link-body-emphasis text-decoration-none my-2">
                    <h6 class="fw-bold"><i class="bi bi-person-fill text-primary"></i> Akun Saya</h6>
                </a>
                <a href="{% url 'order_history' %}" class="link-body-emphasis text-decoration-none my-2">
                    <h6><i class="bi bi-file-text text-primary"></i> Pesanan Saya</h6>
                </a>
                <a href="{% url 'logout' %}" class="link-body-emphasis text-decoration-none my-2">
                    <h6><i class="bi bi-box-arrow-left text-primary"></i> Logout</h6>
                </a>
            </div>      
        </div>
        <div class="col-12 col-md-9 px-4 py-3 border rounded">
            <div class="row">
                <div class="col">
                    <h5 class="fw-bold mt-3">{% if form.instance.pk %}Ubah Alamat{% else %}Tambah Alamat{% endif %}</h5>
                </div>
            </div>
            <hr />
            <div>
              <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputText1" class="form-label fw-bold">Nama Tempat</label>
                  {{ form.label|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                  <label for="exampleInputText1" class="form-label fw-bold">Nama Penerima</label>
                  {{ form.receiver_name|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                  <label for="exampleInputText1" class="form-label fw-bold">Nomor Penerima</label>
                  {{ form.receiver_phone|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                  <label for="exampleInputText1" class="form-label fw-bold">Nama Provinsi</label>
                  {{ form.province|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                  <label for="exampleInputText1" class="form-label fw-bold">Nama Kota/Kabupaten</label>
                  {{ form.city|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                  <label for="exampleInputText1" class="form-label fw-bold">Nama Kecamatan</label>
                  {{ form.district|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                  <label for="exampleInputText1" class="form-label fw-bold">Kode Pos</label>
                  {{ form.zipcode|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                  <label for="exampleInputText1" class="form-label fw-bold">Alamat Lengkap</label>
                  {{ form.full_address|add_class:"form-control" }}
                </div>
                {% if form.errors %}
                  <div class="alert alert-danger">
                      {% for field in form %}
                          {% for error in field.errors %}
                          <strong>{{ field.label }}</strong>: {{ error }}<br>
                          {% endfor %}
                      {% endfor %}
                  </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Simpan</button>
                <a href="{% url 'profile' %}" class="btn btn-outline-primary">Batal</a>
              </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}