{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bookcommerce/base.css' %}">
    <title>SiBook</title>
</head>

<body>
    <nav>
        
        <div class="navbarleft">
            <a class="logo" href="{% url 'home' %}"><img src="{% static '/bookcommerce/assets/logo_horizontal.svg' %}" alt="logo"></a>
        </div>
        
        <div class="navbarright">
            
            {% if user.is_authenticated %}
                <div class="profilepic">
                    <img src="#">
                </div>
                <div class="orders">
                    <li><a href="#"><img src="{% static '/bookcommerce/assets/cart_biru.svg' %}" alt="cart"></a></li>
                    <li>Items in cart: </li>
                </div>
                <form action="{% url 'logout' %}" method="POST">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
                </form>
            {% else %}
                <div class="loginregister">
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                </div>
            {% endif %}

        </div>
    </nav>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %} {% endblock %}
    </div>
    
</body>
</html>