{% extends "bookcommerce/base.html" %}
{% block content %}

    <div>
        <div>
            <h1>{{book.title}}</h1>
            <img src="{{ book.cover_img.url }}" style="max-width:100px">
            <p>{{book.author}}</p>
            <pre>4,5 stars<pre>
            <b>{{book.price}}</b>

            <h3>Detail Buku</h3>
            <ul>
                <li>Series: {{book.series}}</li>
                <li>Kategori: {{book.isbn}}</li>
                <li>Genre: {% for genre in book.genres.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                <li>Bahasa: {{book.language}}</li>
                <li>Tipe Sampul: {{book.cover_type}}</li>
                <li>Halaman: {{book.pages}}</li>
                <li>Penerbit: {{book.publisher}}</li>
                <li>Tanggal Terbit: {{book.publish_date}}</li>
                <li>Berat: {{book.weight}}</li>
                <li>Panjang: {{book.length}}</li>
                <li>Lebar: {{book.width}}</li>
            </ul>
            
            <form action="{% url 'add_to_cart' book.id %}" method="POST">
                {% csrf_token %}
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Masukkan ke Keranjang</button>
            </form>
            <button>Beli Sekarang</button>

            <div>
                <h3>Deskripsi Buku</h3>
                <p>{{book.description}}</p>
            </div>
        </div>
    </div>

    <h3>Ulasan dan Penilaian</h3>
    <p>Coming soon...</p>

{% endblock content %}