{% extends "bookcommerce/base.html" %} {% load static %} {% block content %}

<div class="container mb-4">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link active"
                id="pills-product-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-product"
                type="button"
                role="tab"
                aria-controls="pills-product"
                aria-selected="true"
            >
                Product
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="pills-author-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-author"
                type="button"
                role="tab"
                aria-controls="pills-author"
                aria-selected="false"
            >
                Penulis
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="pills-series-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-series"
                type="button"
                role="tab"
                aria-controls="pills-series"
                aria-selected="false"
            >
                Series
            </button>
        </li>
    </ul>
    <div class="row tab-content mt-4" id="pills-tabContent">
        <div
            class="col tab-pane fade show active"
            id="pills-product"
            role="tabpanel"
            aria-labelledby="pills-product-tab"
            tabindex="0"
        >
            <div class="row gap-2">
                <div class="col-12 col-md p-3 rounded border shadow">
                    <div class="text-center mb-2">
                        <img
                            src="{% static '/bookcommerce/img/buku2.png' %}"
                            class="img-fluid"
                            alt=""
                        />
                    </div>
                    <p class="m-0 fw-bold">The Hunger Games</p>
                    <p class="m-0 text-body-secondary"><small>Suzanne Collins</small></p>
                    <p class="m-0 fw-bold"><small>Rp 98.000</small></p>
                    <button class="mt-2 btn btn-primary btn-sm w-100">
                        <i class="bi bi-cart"></i> Masukkan ke Keranjang
                    </button>
                </div>
                <div class="col-12 col-md p-3 rounded border shadow">
                    <div class="text-center mb-2">
                        <img
                            src="{% static '/bookcommerce/img/buku2.png' %}"
                            class="img-fluid"
                            alt=""
                        />
                    </div>
                    <p class="m-0 fw-bold">The Hunger Games</p>
                    <p class="m-0 text-body-secondary"><small>Suzanne Collins</small></p>
                    <p class="m-0 fw-bold"><small>Rp 98.000</small></p>
                    <button class="mt-2 btn btn-primary btn-sm w-100">
                        <i class="bi bi-cart"></i> Masukkan ke Keranjang
                    </button>
                </div>
                <div class="col-12 col-md p-3 rounded border shadow">
                    <div class="text-center mb-2">
                        <img
                            src="{% static '/bookcommerce/img/buku2.png' %}"
                            class="img-fluid"
                            alt=""
                        />
                    </div>
                    <p class="m-0 fw-bold">The Hunger Games</p>
                    <p class="m-0 text-body-secondary"><small>Suzanne Collins</small></p>
                    <p class="m-0 fw-bold"><small>Rp 98.000</small></p>
                    <button class="mt-2 btn btn-primary btn-sm w-100">
                        <i class="bi bi-cart"></i> Masukkan ke Keranjang
                    </button>
                </div>
                <div class="col-12 col-md p-3 rounded border shadow">
                    <div class="text-center mb-2">
                        <img
                            src="{% static '/bookcommerce/img/buku2.png' %}"
                            class="img-fluid"
                            alt=""
                        />
                    </div>
                    <p class="m-0 fw-bold">The Hunger Games</p>
                    <p class="m-0 text-body-secondary"><small>Suzanne Collins</small></p>
                    <p class="m-0 fw-bold"><small>Rp 98.000</small></p>
                    <button class="mt-2 btn btn-primary btn-sm w-100">
                        <i class="bi bi-cart"></i> Masukkan ke Keranjang
                    </button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">Menampilkan 1 dari 3 produk</div>
                <div class="col text-end">&lt; 1/1 &gt;</div>
            </div>
        </div>
        <div
            class="col tab-pane fade"
            id="pills-author"
            role="tabpanel"
            aria-labelledby="pills-author-tab"
            tabindex="0"
        >
            <div class="row">
                <div class="col-12 col-md-3 text-center">
                    <img
                        src="{% static '/bookcommerce/assets/author.svg' %}"
                        class="img-fluid mb-3"
                        alt=""
                    />
                    <p>Suzanne Collins</p>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <img
                        src="{% static '/bookcommerce/assets/author.svg' %}"
                        class="img-fluid mb-3"
                        alt=""
                    />
                    <p>Suzanne Collins</p>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <img
                        src="{% static '/bookcommerce/assets/author.svg' %}"
                        class="img-fluid mb-3"
                        alt=""
                    />
                    <p>Suzanne Collins</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">Menampilkan 1 dari 3 penulis</div>
                <div class="col text-end">&lt; 1/1 &gt;</div>
            </div>
        </div>
        <div
            class="col tab-pane fade"
            id="pills-series"
            role="tabpanel"
            aria-labelledby="pills-series-tab"
            tabindex="0"
        >
            <div class="row gap-2">
                <div class="col-12 col-md p-3 rounded border shadow">
                    <div class="text-center mb-2">
                        <img
                            src="{% static '/bookcommerce/img/buku2.png' %}"
                            class="img-fluid"
                            alt=""
                        />
                    </div>
                    <p class="m-0 fw-bold">The Hunger Games</p>
                    <p class="m-0 text-body-secondary"><small>Suzanne Collins</small></p>
                    <p class="m-0 fw-bold"><small>Rp 98.000</small></p>
                    <button class="mt-2 btn btn-primary btn-sm w-100">
                        <i class="bi bi-cart"></i> Masukkan ke Keranjang
                    </button>
                </div>
                <div class="col-12 col-md p-3 rounded border shadow">
                    <div class="text-center mb-2">
                        <img
                            src="{% static '/bookcommerce/img/buku2.png' %}"
                            class="img-fluid"
                            alt=""
                        />
                    </div>
                    <p class="m-0 fw-bold">The Hunger Games</p>
                    <p class="m-0 text-body-secondary"><small>Suzanne Collins</small></p>
                    <p class="m-0 fw-bold"><small>Rp 98.000</small></p>
                    <button class="mt-2 btn btn-primary btn-sm w-100">
                        <i class="bi bi-cart"></i> Masukkan ke Keranjang
                    </button>
                </div>
                <div class="col-12 col-md p-3 rounded border shadow">
                    <div class="text-center mb-2">
                        <img
                            src="{% static '/bookcommerce/img/buku2.png' %}"
                            class="img-fluid"
                            alt=""
                        />
                    </div>
                    <p class="m-0 fw-bold">The Hunger Games</p>
                    <p class="m-0 text-body-secondary"><small>Suzanne Collins</small></p>
                    <p class="m-0 fw-bold"><small>Rp 98.000</small></p>
                    <button class="mt-2 btn btn-primary btn-sm w-100">
                        <i class="bi bi-cart"></i> Masukkan ke Keranjang
                    </button>
                </div>
                <div class="col-12 col-md p-3 rounded border shadow">
                    <div class="text-center mb-2">
                        <img
                            src="{% static '/bookcommerce/img/buku2.png' %}"
                            class="img-fluid"
                            alt=""
                        />
                    </div>
                    <p class="m-0 fw-bold">The Hunger Games</p>
                    <p class="m-0 text-body-secondary"><small>Suzanne Collins</small></p>
                    <p class="m-0 fw-bold"><small>Rp 98.000</small></p>
                    <button class="mt-2 btn btn-primary btn-sm w-100">
                        <i class="bi bi-cart"></i> Masukkan ke Keranjang
                    </button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">Menampilkan 1 dari 3 produk</div>
                <div class="col text-end">&lt; 1/1 &gt;</div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
