@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

nav {
    background-color: white;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
}

.navbarleft img {
    height: 50px;
    vertical-align: middle;
}

.navbarleft {
    float: left;
}

.navbarright {
    float: right;
    margin-right: 10px;
}