@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #5EB1E1;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#logo {
    float: left;
}

#logo img {
    margin-left: 180px;
    margin-top: 100px;
    height: 300px;
}

#login-container {
    float: right;
    background-color: #fff;
    border-radius: 2%;
    text-align: center;
    height: 474px;
    width: 494px;
    margin-right: 80px;
    margin-top: 30px;
    padding-top: 55px;
}


.h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 20px;
}

label {
    display: block;
    margin-bottom: 7px;
    margin-left: 38px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

#id_username {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    width: 413px;
    height: 36px;
    padding-left: 5px;
}

#id_password {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    width: 413px;
    height: 36px;
    padding-left: 5px;
}

button {
    background-color: #0066A2;
    border: 1px solid #d9d9d9;
    width: 413px;
    height: 38px;
    color: #fafafa;
    font-family: 'Montserrat';
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

.forget-pass {
    font-size: 15px;
}

.message-register {
    font-size: 15px;
}