#menu-div {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 70px;
  top: 80px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #F5F5F5;
}

#menu-div2 {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* Jarak antar kolom dan baris */
  margin-left: 130px;
  margin-top: 28px;
}

.button-grid1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Menampilkan dua tombol dalam satu baris */
  margin-right: 40px;
}

.button11 {
  background-color: transparent;
  width: 90px;
  height: 35px;
  color: #0066A2;
  margin-top: 10px;
  margin-right: 15px;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.button11:hover {
  background-color: #0066A2;
  color: #FFFFFF;
}

#page-header {
  margin: 0px;
  height: 80px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: fixed;
  z-index: 10000;
  background-color: #0066A2;
  top: 0px;
  right: 0px;
  left: 0px;
}

#page-header p {
  color: #FFFFFF;
  margin-right: 30px;
  margin-top: 28px;
  margin-left: 40px;
  white-space: nowrap;
}

#logo {
  height: 70px;
  margin-left: 20px;
  margin-top: 5px;
}

#menu-items-div {
  padding-left: 40px;
  margin-top: 12px;
}

.menu-item {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 5px;
  color: #000000;
}

#user-div {
  width: 100%;
  padding-top: 28px;
  padding-right: 50px;
}

#user-div p {
  color: #FFFFFF;
  margin-right: 100px;
  margin-top: 0px;
}

.icon-menu-item {
  float: right;
  width: 22px;
  height: 22px;
  opacity: 75%;
  margin-left: 15px;
  margin-right: 15px;
}

#hamburger-menu-icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  top: 9px;
  display: none;
  opacity: 80%;
}

#hamburger-menu-icon:hover {
  opacity: 100%;
}

#search-div {
  height: 38px;
  background-color: #0066A2;
  border: 3px;
  border-style: solid;
  border-color: white;
  opacity: 75%;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 20px;
  margin: auto;
}

#search-div img {
  height: 25px;
  width: 25px;
  margin-top: 5px;
  margin-right: 6px;
}

#search-div input {
  background-color: transparent;
  border: none;
  width: 450px;
}

input::placeholder {
  color: #FFFFFF; /* Warna abu-abu */
  opacity: 1; /* Pastikan opacity penuh */
}

#search-div input:focus {
  outline: none;
  color: white;
}

.cart-button1 {
  position: relative;
  top: 10px;
  background-color: #F5F5F5;
}

.cart-icon1 {
  height: 33px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 2px;
  padding: 2px;
}

@media screen and (max-width: 1170px) {
  #hamburger-menu-icon {
    display: block;
    position: absolute;
    right: 20px;
  }
  .menu-items-div, .menu-item {
    display: none;
  }
  #search-div {
    margin-left: 0px;
  }
  .button11 {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  #search-div input {
    width: 260px;
  }
}

@media screen and (max-width: 530px) {
  #search-div input {
    width: 160px;
  }
}

@media screen and (max-width: 480px) {
  #user-div {
    padding-right: 15px;
  }
  .icon-menu-item {
    margin-left: 8px;
    margin-right: 8px;
  }
}



